gnome-shell/application_state
gnome-shell/extensions/NotificationCounter@coolllsk/stylesheet.css
gnome-shell/extensions/gnome-shutdown-button@kirby_33@hotmail.fr/extension.js
gnome-shell/extensions/openweather-extension@jenslody.de/openweathermap.js
script/py/__pycache__/*
script/py/log/*
script/py/crontab_calendar.txt