[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity
Comment=
Exec=/home/lwh/Downloads/program_linux/Antigravity-x64/antigravity
Icon=atomic
Path=
Terminal=false
StartupNotify=false
