[Desktop Entry]
Type=Application
Name=custom_imwheel
NoDisplay=false
Hidden=true
Exec=/usr/bin/imwheel -k
X-GNOME-Autostart-enabled=true
Icon=
Comment=
Terminal=false
X-GNOME-Autostart-Delay=60
