[Desktop Entry]
Hidden=false
Name=custom_camera_resize
Comment=
Terminal=false
Exec=/home/lwh/.config/autostart/custom_camera_resize.ignition_delay.sh
Type=Application
