[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=startup_always_screen_on
Comment=
Exec=xset q && xset s off && xset -dpms
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

