[Desktop Entry]
Type=Application
Name[an]=Lector de pantalla Orca
Name[ast]=Llector de pantalla d'Orca
Name[be]=Сродак чытання з экрана Orca
Name[bg]=Orca — екранен четец
Name[bs]=Orca čitač ekrana
Name[ca]=Lector de pantalla Orca
Name[cs]=Čtečka obrazovky Orca
Name[da]=Skærmlæseren Orca
Name[de]=Orca-Bildschirmleser
Name[el]=Αναγνώστης οθόνης Orca
Name[en_GB]=Orca Screen Reader
Name[eo]=Ekranlegilo Orko
Name[es]=Lector de pantalla Orca
Name[eu]=Orca pantaila-irakurlea
Name[fa]=صفحه‌خوان اورکا
Name[fi]=Orca-näytönlukija
Name[fr]=Lecteur d’écran Orca
Name[gl]=Lector da pantalla Orca
Name[he]=מקריא המסך Orca
Name[hi]=Orca स्क्रीन वाचक
Name[hu]=Orka képernyőolvasó
Name[id]=Pembaca Layar Orca
Name[is]=Orca skjálestur
Name[it]=Lettore schermo Orca
Name[ka]=Orca - ეკრანის მკითხველი
Name[kk]=Orca экраннан оқитын қолданбасы
Name[lt]=Orca ekrano skaityklė
Name[lv]=Orca ekrāna lasītājs
Name[mk]=Orca читач на екранот
Name[nb]=Orca skjermleser
Name[ne]=ओर्का दृष्टि वाचक
Name[nl]=Orca schermlezer
Name[oc]=Lector d'ecran Orca
Name[pa]=ਓਰਕਾ ਸਕਰੀਨ ਰੀਡਰ
Name[pl]=Czytnik ekranowy Orca
Name[pt]=Leitor de ecrã Orca
Name[pt_BR]=Leitor de tela Orca
Name[ro]=Cititorul de ecran Orca
Name[ru]=Экранный диктор Orca
Name[sk]=Čítačka obrazovky Orca
Name[sl]=Zaslonski bralnik Orka
Name[sr]=Читач екрана Орка
Name[sr@latin]=Čitač ekrana Orka
Name[sv]=Orca skärmläsare
Name[ta]=ஆர்கா திரை படிப்பி 
Name[te]=ఓర్కా తెరచదువరి
Name[tg]=Хонандаи экрани Orca
Name[th]=โปรแกรมอ่านหน้าจอ Orca
Name[tr]=Orca Ekran Okuyucu
Name[ug]=Orca ئېكران ئوقۇغۇ
Name[uk]=Інструмент читання з екрана «Orca»
Name[zh_CN]=Orca 屏幕阅读器
Name[zh_HK]=Orca 螢幕閱讀器
Name=Orca Screen Reader
Exec=orca
NoDisplay=true
AutostartCondition=GSettings org.gnome.desktop.a11y.applications screen-reader-enabled
X-GNOME-AutoRestart=true
#X-GNOME-Autostart-Phase=Initialization
OnlyShowIn=GNOME;MATE;Unity;Cinnamon;
