[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lwh/Desktop/desktop_flatpak]
row=7
col=0

[/home/lwh/Desktop/desktop_trust.desktop]
row=5
col=0

[/home/lwh/Desktop/desktop_usr]
row=6
col=0

[/home/lwh/Desktop/edit_install.desktop]
row=8
col=0

[/home/lwh/Desktop/desktop_local]
row=0
col=1

[/home/lwh/Desktop/script]
row=1
col=1

[31e84b40-949b-432f-840e-adddadb1f443]
row=1
col=0

[google-drive://ppp821203@gmail.com/]
row=0
col=0

[휴지통]
row=2
col=0

[/]
row=3
col=0

[/home/lwh]
row=4
col=0

