[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[ko]=프로그램 탐색기
Comment=Find and launch applications installed on your system
Comment[ko]=시스템에 설치한 프로그램을 찾고 실행합니다
Keywords=program;applications;bookmarks;
Keywords[ko]=program;프로그램;applications;애플리케이션;앱;bookmarks;북마크;즐겨찾기;즐겨 찾기;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
